<li>
  <%= nav_link_to "Dashboard", send("admin_dashboard_path"), class: "nav-link" %>
</li>
<li>
  <%= nav_link_to "Properties", send("admin_properties_path"), class: "nav-link" %>
</li>
<li>
  <%= nav_link_to "Bookings", send("admin_bookings_path"), class: "nav-link" %>
</li>
<li>
  <%= nav_link_to "Api", send("admin_api_path"), class: "nav-link" %>
</li>
