<article id="<%= dom_id assembly %>" class="py-6 prose prose-zinc dark:prose-invert">

   <p>
    <%= link_to "View Assembly", assembly, class: "underline" %>
  </p>

  <time class="text-zinc-600 dark:text-zinc-400 text-xs" datetime="<%= assembly.created_at.to_formatted_s(:long) %>">Created <%= time_ago_in_words(assembly.created_at) + " ago" %></time>
</article>
